<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>CodePen - Simple HTML &amp; CSS Login Form</title>
  <link rel="stylesheet" href="./static/style.css">

</head>
<body>
<!-- partial:index.partial.html -->

<form method="post" action="/login">
<div class="box">
<h1>Dashboard</h1>

<input type="text" name="username" value="username" onFocus="field_focus(this, 'username');" onblur="field_blur(this, 'username');" class="email" />
  
<input type="password" name="pw" value="passwd" onFocus="field_focus(this, 'passwd');" onblur="field_blur(this, 'passwd');" class="email" />
  
<a href="#"><div class="btn">Sign In</div></a> <!-- End Btn -->

<!--a href="#"><div id="btn2">Sign Up</div></a--> 
{{if .}}
<div class="error">usename or password error</div>
{{end}}
</div> <!-- End Box -->
  
</form>

  
<script src="./static/jquery.min.js" type="text/javascript"></script>
<!-- partial -->
  <script  src="./static/script.js"></script>

</body>
</html>
